<a href="https://colab.research.google.com/github/mansijadhav2003/Assignment1/blob/main/day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import mysql.connector as sql
database =sql.connect(host='localhost',user='root',password='ferrari458',database='schooldata')
cur=database.cursor()
cur.execute("update student set Eng_mark=80 where Roll_no=122")
cur.execute("select*from student")
for i in cur:
  print(i)
cur.close()
database.commit()